extends ./common/layout.jade

block vars
  - var nowMenu = "about";
block title
  title plitri - About
block content
  h2 About plitri
  p 1인 게임제작팀입니다. 발음은 [플리트리] 혹은 [플리트라이] 이나 주로 전자를 씁니다.
  p 원래는 t를 대문자로 썼었지만 굳이 고집하지 않기로 했습니다.
  h3 왜 1인 팀인가
  p 상하이앨리스환악단이 1인 서클이라, "나도 그런거 할래!" 해서 이렇게 되었습니다.
  h3 plitri의 어원
  p plitri는 play + Tri 를 조합한 조어입니다. 언제나 3가지를 생각한다 라는 의미를 가집니다.
  h3 다른 곳에서 plitri 찾기
  ul
    li: a(href="https://play.google.com/store/apps/developer?id=pliTri") 구글 플레이
    li 애플 스토어는 맥 기기가 생기면 만들게 될 듯 합니다.
  p 뒤에 있는 사람 :&nbsp;
    a(href="http://sftblw.github.io") Ch.
  p 사이트 소스는&nbsp;
    a(href="https://github.com/sftblw/plitri.net") github
    span &nbsp;에 있습니다.
