extends ./common/layout.jade

block vars
  - var nowMenu = "games";
block title
  title plitri - Games
block content
  h2 제작게임
  p 현재 임시로 업로드된 게임의 링크만 올려놓습니다. 완성 여부는 별개입니다. 순서는 제작년도와 무관합니다.
  p 주로 Construct 2 를 사용해 만듭니다.
  p 웹의 경우, 용량 문제로 파일을 제거하다 동작하지 않게 된 게임들이 있을 수 있습니다.
  p 돌아오는 버튼이 별도로 없으니 새 탭으로 여세요.
  p [버림] 은 제작을 중단한 게임입니다.
  h3 2016
  ul
    li: a(href="./games_kwagwagyak.html") 콰과갹 (폭탄피하기)
  h3 2015
  ul
    li 네모밍 모밍모밍 [버림] [2015]
      ul
        li 터치로 연속적인 블록을 빠르게 격파하는 캐주얼 게임입니다.
        li: a(href="https://play.google.com/store/apps/details?id=net.plitri.nemoming") 구글 플레이
    li 2015년 새해 축하 [미니게임] [2015]
      ul
        li 순식간에 대충 만든 새해 복 많이받으세요 게임입니다.
        li: a(href="/html5_games/happy_2015") 웹에서 플레이
  h3 2014
  ul
    li 카타카나 프러블럼 : 라이트 어레인지 [정식 릴리즈] [2014]
      ul
        li 카타카나 단어 학습 게임입니다. 움직이는 플래시카드를 "산성비" 게임처럼 제거합니다.
        li 기존 기획을 학과 텀프로젝트용으로 바꿔 만든 것을 다시 게임툴 버전으로 포팅한 게임입니다.
        li: a(href="/html5_games/katakana_light") 웹에서 플레이 (미동작)
        li: a(href="https://play.google.com/store/apps/details?id=net.plitri.kataproblight") 구글 플레이
    li birthday [버림] [2014]
      ul
        li 보스 러시 탄막슈팅. 적은 케이크입니다. 생일 기념으로 만들었습니다.
        li 동방프로젝트와 사용키가 일치합니다. 모바일 미지원
        li: a(href="/html5_games/birthday") 웹에서 플레이
        li: a(href="https://www.scirra.com/arcade/shooting-games/birthday-2014-47") Scirra Arcade
  h3 연도 미상
  ul
    li Cative 시리즈
      ul
        li Catch to live 의 약자입니다. Tilt to live의 반전버전. 오히려 적을 먹어야 합니다.
        li: a(href="http://plitri.net/html5_games/Cative_1_5/") Cative 1.5 웹에서 플레이
        li 1 버전은 어디있는지 모르겠습니다
    li ballTouch01 [완성]
      ul
        li 공을 쳐올려서 올라가는 게임입니다. 아트 스타일이 포인트.
        li: a(href="/html5_games/ballTouch01") 웹에서 플레이
        li: a(href="https://play.google.com/store/apps/details?id=net.plitri.balltouch01") 웹에서 플레이
        li: a(href="#") Scirra Arcade (개편되면서 내려감)
    li speeeeeeed [완성]
      ul
        li 내려오는 도형들을 피하는 게임입니다. 피탄 봄이 있습니다.
        li: a(href="/html5_games/speeeeeeed") 웹에서 플레이
        li: a(href="#") Scirra Arcade (개편되면서 내려감)
    li LOOkin [완성]
      ul 
        li 그저 구경하는 게임입니다. 알아서 성장하는 플랫포머.
        li: a(href="/html5_games/LOOkin") 웹에서 플레이
        li: a(href="#") Scirra Arcade (개편되면서 내려감)
    li lazertest [컨셉실험]
      ul
        li 탑뷰 레이저 서바이벌. 마스터 스파크 풍의 레이저가 만들고 싶었습니다.
        li 방향키, 마우스 (누르고 있을수도 있음), 마우스 휠로 줌
        li: a(href="/html5_games/lazertest") 웹에서 플레이
        li: a(href="#") Scirra Arcade (개편되면서 내려감)
    li 랜덤 플랫포머 2 (Random Platformer 2) [버림]
      ul
        li 발판이 랜덤으로 나오는 플랫포머. 2 는 패턴 기반입니다. C2 최초작.
        li 업데이트는 중단했으니 착오 없으시길 바랍니다.
        li: a(href="/html5_games/RandomPlatformer2") 웹에서 플레이
        li: a(href="#") Scirra Arcade (개편되면서 내려감)
