- var nowMenu = "index";
extends ./common/layout.jade

block vars
  - var nowMenu = "index";
block title
  title plitri - Home
block content
  h2 plitri 에 오신것을 환영합니다
  h3 2016.2.28 새소식
  ul
    li 폭탄피하기 게임 <a href="./games_kwagwagyak.html">콰과갹</a>이 공개되었습니다.
  h3 2015.9.1 새소식
  ul
    li ballTouch01이 <a href="https://play.google.com/store/apps/details?id=net.plitri.balltouch01">구글 플레이 스토어에 올라왔습니다.</a>
    li 기존 블로그의 도메인을 <a href="http://blog.plitri.net">blog.plitri.net</a>으로 바꾸었습니다. 앞으로 주로 여기가 쓰이게 될 것입니다.
  h3 2015.8.29 새소식
  ul
    li 실험실에 있던 게임들이 모두 홈페이지에 기록되었습니다. <a href="/labs.html">확인해보세요</a>
  h3 2015.8.26 새소식
  ul
    li 홈페이지의 내용이 채워졌습니다.
    li 현재 plitri 홈페이지에 올라와있는 게임의 목록이 기재되었습니다.
    li softblow.dothome.co.kr 에 있던 게임들을 옮겨왔습니다. 용량이 슬슬 위험하네요.
