extends ./common/layout.jade

block vars
  - var nowMenu = "labs";
block title
  title plitri - Labs
block content
  h2 실험실
  p 컨셉 실험, 혹은 연습 목적으로 만든 게임들입니다. 미완성된 게임이 많습니다.
  h3 연도미상
  ul
    li 탄막
      ul
        li Construct 2 는 탄막 만들기엔 영 안좋습니다...
        li [정상 플레이 불가]&nbsp;
          a(href="/html5_games/labs/danmaku/a_danmaku_game/") 탄막 템플릿 제작 프로젝트
        li [플레이 가능]&nbsp;
          a(href="/html5_games/labs/danmaku/dandanSquare/") 흥미 본위의 탄막 제작
        li [정상 플레이 불가]&nbsp;
          a(href="/html5_games/labs/danmaku/JuicyBullet/") Juicy Bullet
    li 화면피하기 프로토타입
      ul
        li 스타크래프트:브루드워 의 유즈맵 중 한 장르인 화면피하기를 게임으로 만들어보면 어떨까 싶었습니다.
        li: a(href="/html5_games/labs/avoid_screen_prototype/") 웹에서 플레이 (컨셉 확인만 가능)
    li Cative 2
      ul
        li Cative (Catch to live) 프로젝트의 후속작을 만드려는 구상이었습니다.<br/>터치 부분에서 제작 문제가 있어서 그만뒀습니다.
        li: a(href="/html5_games/labs/Cative_2") 웹에서 플레이
    li 노비노비 캐터필러
      ul
        li 가로로 주욱 늘어나는 애벌레를 이용한 플랫포머 게임입니다.
        li 4개 정도의 스테이지가 있던걸로 기억합니다.
        li: a(href="/html5_games/labs/just_caterpillar_project") 웹에서 플레이
    li sounds_like 프로젝트
      ul
        li 음악의 박자를 이용한 독특한 탑뷰 퍼즐게임입니다.
        li 언젠가 리메이크를 할 생각입니다.
        li 10개의 스테이지가 준비되어 있습니다.
        li: a(href="/html5_games/labs/sounds_like") 웹에서 플레이
    li 플랫포머
      ul
        li 아이워너 시리즈를 흉내내보려는 느낌으로 만들었었습니다. 별 특징이 없어서 버려짐.
        li [플레이 가능]&nbsp;
          a(href="/html5_games/labs/platformer/") 웹에서 플레이
    li 플래피 사카모토
      ul
        li 일상의 사카모토로 하는 플래피버드. 만들다 말았습니다.
        li: a(href="/html5_games/labs/flappy sakamoto") 웹에서 플레이
    li 엔드리스 러너 (쿠키런, 윈드런 등과 비슷한 게임)
      ul
        li 패턴 기반 랜덤 생성 엔드리스 러너입니다.
        li 웹에 프로젝트 소스를 공개해뒀습니다.
        li: a(href="/html5_games/labs/endless_runner") 웹에서 플레이
        li: a(href="http://cafe.daum.net/CONSTRUCTORS.CAP/ohBY/5") capx 프로젝트 파일 (카페 게시글)
    li 토끼총 (컨셉실험)
      ul
        li 총 게임에선 플레이어가 사물을 죽입니다. 하지만 거꾸로 플레이어가 맞는 대상이라면 어떨까요?
        li Ctrl 키로 화면을 향해 공격 가능.
        li: a(href="/html5_games/labs/tokkichong") 웹에서 플레이 (컨셉 확인만 가능)
