*, body, p, div {margin:0; padding:0;
  font-family: '맑은 고딕', 'apple sd gothic neo', sans-serif;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  body {font-size: 4vmin;}
}

/* common */
input[type="text"], input[type="password"], input[type="url"], textarea {
  box-sizing: border-box;
  border: 1px solid gray;
  padding: .5em;
  padding: calc(.5em - 1px);
  font-size: 1em;
}

button, input[type="text"], input[type="password"], input[type="url"] {
  border-radius: 0;
}
button, input[type="button"], input[type="submit"] {
  border: none; /*clearing*/
  background-color: #ddd;
  border: none;
  padding: .5em;
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #f0f0f0;
  text-decoration: underline;
}
button:active, input[type="button"]:active, input[type="submit"]:active {background-color: #aaa}



/* header */

#MainHeader {
  background:black;
  color:white;
  padding:0.5em;
}
#MainHeader a {
  color:white;
  text-decoration:none;
}
#MainHeader a:hover {
  text-decoration:underline;
  background: gray;
}
#MainHeader .title {
  font-size:1.5em;
  text-decoration:none;
}

#MainHeader nav ul li {
  display:inline; display:inline-block;
}
#MainHeader nav ul li a{
  padding:0.5em;
}

#MainHeader nav ul li .nowMenu {
  font-weight:bold;
  color: black;
  background:white;
}

#MainHeader h1 {margin: .5em; padding: 0;}


/* body general */

.container {
  max-width:1024px; margin: 0 auto;
}
.content {
  list-style-position: inside;
  line-height: 1.6em;
  padding: 1em;
}


/** footer **/

#mainFooter {border-top: 1px solid gray;}
#mainFooter div.container {padding: 1em;}


/** article common **/

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: .7em;
}
h1, h2, h3, h4, h5, h6 {
  padding-top: .3em;
}

.container ul ul {margin-left:1em; margin-bottom: .5em;}


/** blog menu **/

.belowMenu {border-bottom:1px solid gray; margin-bottom:1em; overflow: hidden;}
.belowMenu nav.blogNav {text-align: right; }
.belowMenu nav.blogNav ul {list-style: none; float:right;}
.belowMenu nav.blogNav ul li {display: inline; display:inline-block;}
.belowMenu nav.blogNav ul li a {display: inline-block; padding:.5em;}
.belowMenu nav.blogNav a {color: black; text-decoration: none;}
.belowMenu nav.blogNav a:hover {color: gray; text-decoration: underline;}

.belowMenu .search {float:left;}
.belowMenu .search input[type="text"], .belowMenu .search input[type="button"] {
  box-sizing: border-box;
  border: 1px solid gray;
  padding: .5em;
  padding: calc(.5em - 1px);
  font-size: 1em;
}
.belowMenu .search input[type="button"] {
  border: none;
}
.belowMenu .search input[type="button"]:hover {
  text-decoration: underline;
}

/** blog article **/

.content a {color: black;}
.content a:hover {color: grey;}

.content section.cage {margin-bottom:1em;}
.content section.mainArticle header .trailer {overflow: hidden; margin-bottom: .5em;}
.content section.mainArticle header .trailer .date {float: left;}
.content section.mainArticle header .trailer .category {float: right;}
.content section.mainArticle article {margin-top: 1em; margin-bottom: 1em;}
.content section.mainArticle .tags {overflow: hidden;}
.content section.mainArticle .tags .tagFlag {background: black; color: white; padding: .3em; margin-right: .5em; border-radius: .5em; display: inline-block;}

.content section.article .actionTrail {text-align: right;}

/** paging **/
.paging {text-align: center; text-decoration: none;}
.paging .btn {line-height: 2em; width:2em; height:2em; text-align: center;
  display: inline; display: inline-block;}
.paging .selected {
  display: block;
  font-weight: bold;
}
.paging a {text-decoration: none;}
.paging a:hover {text-decoration: underline;}
.paging .no-more-prev, .paging .no-more-next
{
  visibility: hidden;
}

/** comment **/
.commentWrite ul {list-style: none;  overflow: hidden;}
.commentWrite ul li {float:left; margin-right: .5em;}
.commentWrite textarea, .commentWrite .writeButton {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

/** content body **/
.commentList {margin-top: 1em;}
.commentList ol {list-style: none; margin-bottom: 2em;}
.commentList .commentHeader {overflow: hidden; border-bottom: 1px solid gray;}
.commentList .commentHeader img {height: 1.4em; width: auto;}
.commentList .commentHeader .name {font-size: 1.4em;}
.commentList .commentHeader .name, .commentList .commentHeader .date {margin-right: 1em;}
.commentList .commentHeader .trailer {float: right;}
.commentList ol ol {list-style: none; margin-left: 2em;}

/** content body additional style **/
/* .commentList .rp_admin, .commentList .guest_admin */
.commentList .rp_admin .name::after, .commentList .guest_admin .name::after {
  content: ' 👑 ';
  color: grey;
  font-size: .8em;
}
.commentList .rp_secret p, .commentList .guest_secret p {
  color: grey;
}
.commentList .rp_secret .name::after, .commentList .guest_secret .name::after {
  content: ' 🔒 ';
  color: grey;
  font-size: .8em;
}
