*, body, p, div {margin:0; padding:0;
  font-family: '맑은 고딕', 'apple sd gothic neo', sans-serif;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  body {font-size: 4vmin;}
}

/* header */
#MainHeader {
  background:black;
  color:white;
  padding:0.5em;
}
#MainHeader a {
  color:white;
  text-decoration:none;
}
#MainHeader a:hover {
  text-decoration:underline;
  background: gray;
}
#MainHeader .title {
  font-size:1.5em;
  text-decoration:none;
}

#MainHeader nav ul li {
  display:inline; display:inline-block;
}
#MainHeader nav ul li a{
  padding:0.5em;
}

#MainHeader nav ul li .nowMenu {
  font-weight:bold;
  color: black;
  background:white;
}

#MainHeader h1 {margin: .5em; padding: 0;}

.container {
  max-width:1024px; margin: 0 auto;
}
.content {
  list-style-position: inside;
  line-height: 1.6em;
  padding: 1em;
}

#mainFooter {border-top: 1px solid gray;}
#mainFooter div.container {padding: 1em;}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: .7em;
}
h1, h2, h3, h4, h5, h6 {
  padding-top: .3em;
  margin-top: .6em;
}

.container ul ul {margin-left:1em; margin-bottom: .5em;}

/*.content ul li {
  list-style-type: '- ';
}*/

.content img {max-width: 100%;}
