header#MainHeader
  div.container
    h1
      a.title(href="./index.html") plitri
    nav
      ul
        li: a(href="./index.html", class=(nowMenu==="index"?"nowMenu":"")) Home
        li: a(href="./about.html", class=(nowMenu==="about"?"nowMenu":"")) About
        li: a(href="./games.html", class=(nowMenu==="games"?"nowMenu":"")) Games
        li: a(href="./labs.html", class=(nowMenu==="labs"?"nowMenu":"")) Labs
        li: a(href="./nongame.html", class=(nowMenu==="sw"?"nowMenu":"")) Non-Game
        
