header#MainHeader
  div.container
    h1
      a.title(href="http://plitri.net/index.html") plitri
    nav
      ul
        li: a(href="http://plitri.net/index.html", class=(nowMenu==="index"?"nowMenu":"")) Home
        li: a(href="http://plitri.net/about.html", class=(nowMenu==="about"?"nowMenu":"")) About
        li: a(href="http://plitri.net/games.html", class=(nowMenu==="games"?"nowMenu":"")) Games
        li: a(href="http://plitri.net/labs.html", class=(nowMenu==="labs"?"nowMenu":"")) Labs
        li: a(href="http://plitri.net/nongame.html", class=(nowMenu==="nongame"?"nowMenu":"")) Non-Game
        li: a(href="http://blog.plitri.net", class=(nowMenu==="blog"?"nowMenu":"")) blog
        
