doctype html
html(lang="ko")
  head
    block title
      title plitri / 플리트리
    link(rel="stylesheet", href="./style.css", type="text/css")
    meta(charset="utf-8")
  body
    //- #MainHeader
    block body_start
    block vars 
      //- http://stackoverflow.com/questions/12646451/how-to-pass-variables-between-jade-templates
      - var nowMenu = "index";
    include ./head.jade
    div.container.belowMenu
      block belowMenu
    div.container.content
      block content
    include ./foot.jade
    block body_end
